<h2>SMS and WEB based school admission system</h2>
<div class="header-bar"></div>
<nav>
  <!-- <a routerLink="" routerLinkActive="active">Admission Circular</a>
  <a routerLink="" routerLinkActive="active">Circular for Dhaka</a> -->
  <a routerLink="/form" routerLinkActive="active">Student Application Form</a>
  <a routerLink="/school-authority-login" routerLinkActive="active">School/Authority Login</a>
  <a routerLink="/admit" routerLinkActive="active">Get Admit Card</a>
  <!-- <a routerLink="" routerLinkActive="active">Software User Manual</a> -->
</nav>

<router-outlet></router-outlet>
